.**
/**
!README.md
!/rclone/
!/rclone/rclone.conf
!/ranger/
!/ranger/scope.sh
!/picom**
!/cozytile**
!/xinit**
!/home-manager**
!/nixpkgs**
!/nvim**
!/qtile**
!**/mint_install**
!**/mint_install/**
/qtile/__**
!/eww**
!/wal**
!/vlc**
!/wal**
!/qBittorrent/
!/qBittorrent/catppuccin-mocha.qbtheme
!/qBittorrent/qBittorrent.conf
!.git/
!.gitignore

