.**
/**
!.gdbinit
!.xinitrc
!.xprofile
!README.md
!scripts/
!scripts/**
!.config/
!.config/rclone/
!.config/rclone/rclone.conf
!.config/ranger/
!.config/ranger/scope.sh
!.config/picom**
!.config/xinit**
!.config/home-manager**
!.config/nixpkgs**
!.config/nvim**
!.config/qtile**
.config/qtile/__**
!.config/rofi**
!.config/wal**
!.config/vlc**
!.config/wal**
!.config/qBittorrent/
!.config/qBittorrent/catppuccin-mocha.qbtheme
!.config/qBittorrent/qBittorrent.conf
!.git/
!.gitignore
!data/
!data/time-tracker.db

