.**
/**
!.tmux.conf
!.gdbinit
!.xinitrc
!.xprofile
!README.md
!scripts/
!scripts/**
!.config/
!.config/ranger/
!.config/ranger/scope.sh
!.config/picom**
!.config/xinit**
!.config/alacritty**
!.config/home-manager**
!.config/neofetch**
!.config/nixpkgs**
!.config/nvim**
!.config/qtile**
.config/qtile/__**
!.config/rofi**
!.config/wal**
!.config/vlc**
!.config/wal**
!.git/
!.gitignore

